# Dependencies
**/node_modules

# Build artifacts
**/dist
**/coverage

# Environment variables
.env
.env.*
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store

# IDE
.vscode
.idea

# Swap files
*.sw?

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Uploaded files
api/uploads/

# API build cache
api/tsconfig.build.tsbuildinfo
api/dist/tsconfig.build.tsbuildinfo

# API Prisma generated client
api/generated/
api/src/generated/
api/prisma/seed.ts
api/prisma/seed-images.ts
api/dist/prisma/seed.js.map
api/dist/prisma/seed.js
api/dist/prisma/seed.d.ts
